@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap';


:root{
    --color-blue: #93acf0;
    --color-rocket:#7159c1;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    background-image: linear-gradient(to right, rgb(113, 89, 193),  #807280);
    font-family: 'Roboto', sans-serif;
    color: white;
}


header{
    padding: 30px;
    background: rgba(0,0,0,0.1);
}

.links {
    text-align: center;
 }
 
 .links a{
     color: white;
     font-size: 18px;
     line-height: 28px;
     margin: 0  16px;
     text-decoration: none;
 }
 
 .links a:hover{
     color: var(--color-blue);
     transition: color 200ms;
 }

/** Sobre **/

.descricao{
    text-align: center;
    padding: 22px;
    
}

.descricao img{
    border-radius: 50%;
    border: 5px solid var(--color-rocket);
    margin-bottom: 32px;
    height: 300px;
}


.descricao h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

.descricao p{
    max-width: 500px;
    margin: 32px auto;
    font-size: 20px;
    line-height: 34px;
}


.descricao ul{
    padding: 10px;
    list-style: none;
}


.descricao ul li{
    padding: 5px;
    font-size: 20px;
    border: 1px solid #4e3d4e;
    width: 30%;
    margin: 10px auto;
    border-radius: 5px;
}

/** Conteúdos **/

.cards{
    max-width: 1000px;
    margin: 20vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}


.card{
    padding: 100px 0px;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

.card__image-container img{
    width: 100%;
    height: 100px;
}


.card__content .launch{
    color: orange;
}

.card__content .start{
    color: var(--color-rocket);
}

.card__content .goStack{
    color: #04D361;
}
.card__content h1{
    font-size: 40px;
    text-align: center;
    padding: 10px;
}


.card__content p{
    padding: 30px;
}


.card__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.card__price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*** Modal **/

.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 6vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
}

.modal .maximize-modal{
    color: black;
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
}

/*** Modal active **/

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal.active-maximize{
    width: 100%;
    height: 100%;
    margin: 0vh auto;
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}


